<h1>Votacion</h1>
Dni: {{{dni}}}
<br>
Nombre: {{{nombre}}}
<a href="/logout">logout</a>

{{mensaje}}
<form action="/votacion" method="post">
  {{#each candidatos}}
      <div>
          <input type="radio" name="partido" id="candidato{{id}}" value="{{partidoPolitico}}">
          <label for="candidato{{id}}">Cadidato: {{nombre}} Partido: {{partidoPolitico}}</label>
      </div>
  {{/each}}
  <button>Confirmar Votacion</button>
</form>